<%= form_for @song do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.label :album_name %>
    <%= f.text_field :album_name %><br/>
    
    <%= f.label :release_year %>
    <%= f.text_field :release_year %><br/>
  
    <%= f.fields_for :genre, @song.build_genre do |sec_form| %>
      <%= sec_form.label :genre %>
      <%= sec_form.text_field :genre_name %><br/>
    <% end %>
  
    <%= f.submit %>
  <% end %>
  
  
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@song.errors.count, "Error") %>
        prohibited this song from being saved:
      </h2>
   
      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>