<h1><%= link_to @song.title, song_path(@song) %></h1>
<h3> by <%= @song.artist.artist_name %></h3>
  
  <p>
    Released in:
    <strong><%= @song.release_year %></strong>
    On The Album:
    <strong><%= @song.album_name %></strong>
    <strong>Genre:</strong>
      <%= @song.genre.genre_name %>
  </p>

<%= link_to 'Edit', edit_song_path(@song) %>

<%= link_to "All Songs", songs_path %>

<form method="post" action="/songs/<%=@song.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="DELETE" />
</form>