<!DOCTYPE html>
<html>
  <head>
    <title>RecordLabelProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
  </head>

  <body>

    <%= render 'layouts/nav' %>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
